<%- model_class = Questao -%>
<%= javascript_tag do %>
window.questoesURL = "<%=t questoes_url%>";

<%end%>
<div class="page-header">
 <h1><b><%=t '.title', :default => model_class.model_name.human.pluralize %></b></h1>




   <!--    Barra  -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
     
      <a class="navbar-brand" href="/questoes/new"><b>Nova Questão</b></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ><a href="/grupos">Grupos de Questões<span class="sr-only">(current)</span></a></li>
    
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Ajuda <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/page/ajuda">Ajuda</a></li>
            <li><a href="/page/sobre">Sobre</a></li>
          
          </ul>
        </li>



       <%@TipoUsuario = User.where('id=?',current_user.id).take.perfil %>
       <% if @TipoUsuario == "Administrador" %>      
       <li class="dropdown">
       <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Relatórios <span class="caret"></span></a>        
      <ul class="dropdown-menu" role="menu">
            <li><%= link_to 'Questões Cadastradas', relatorioqtdquestoes_path %></li>
            <li><%= link_to 'Respostas Cadastradas', relatorioqtdrespostas_path %></li>

          </ul>


        </li>
     
          <%end%>

  

    


        
    <li class="dropdown">

          <%@usuario = User.where('id=?',current_user.id).take.nome_completo %>

          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= @usuario%> <span class="caret"></span></a>

          
       
           


          <ul class="dropdown-menu" role="menu">
            <li><%= link_to 'Sair', destroy_user_session_path, method: :delete %></li>
          <% if @TipoUsuario == "Administrador" %>        
          <li><%= link_to 'Cadastrar Usuario','useres#index'%></li> 
          <%end%>    
           </ul>
            
            </ul>

        </li>
     

      <ul class="nav navbar-nav navbar-right">
      <li ><a <%=link_to image_tag("medlogo.png",:alt => "Descricao img",:id => "id_img",:width => "100px",:height => "25px"), "http://www.medprovas.com/",:target => ("blank")%></span></a></li>
      </ul>

      </div>

     

   
</div>
<!-- barra usuario -->

    
  


</nav>
  <!-- Fim Barra -->

<!-- Inicio Pesquisa -->

<div class="form-group">
  <%=form_for('consulta',url: {action:'consulta_questao'}, :hmtl =>{:class =>('form-horizontal')}) do |f| %>
  <label class="control-label">Pesquisar</label>
  <div class="input-group">
    <span class="input-group-addon"> <span class="glyphicon glyphicon-search">  </span>  </span>
   <%= f.text_field :descricao, :class =>'form-control' %>
    <span class="input-group-btn">
     <button type="submit" class="btn btn-primary">Consultar</button>
    </span>
   <%end%>
  </div>
 
<!--Fim Pesquisa -->
  
  
 
 
 
</div>



<table class="table table-striped">
 <!-- Botão novo estava aqui -->


  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:descricao) %></th>
      <th>Qualificado?</th>
      <th> Cadastrado por: </th>
      <th> Alterado por: </th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
   


  </thead>
  <tbody>

    <% @ret.each do |questao| %>
   
<%questaoUser= Questao.joins("inner join audits on audits.auditable_id = questoes.id inner join useres on useres.id = audits.user_id").where("audits.auditable_id = questoes.id and audits.user_id = useres.id and audits.auditable_type =? and audits.action = ? and questoes.id = ?","Questao","update",questao.id).select("questoes.id, useres.nome_completo, audits.auditable_type").order('audits.id desc').take%>

<%questaoCo = Questao.joins("inner join audits on audits.auditable_id = questoes.id inner join useres on useres.id = audits.user_id").where("audits.auditable_id = questoes.id and audits.user_id = useres.id and audits.auditable_type =? and audits.action = ? and questoes.id = ?","Questao","update",questao.id).select("count(*)")%>

<%questaoCo.each do |questaoCoo| %>


<%if questaoCoo.count == 0
    @alterou = "Sem Alterações"
    @alterouData= "Sem Alterações"
 
    
    else 
      @alterou = questaoUser.nome_completo
       
    end
    
    end

       %>




          
       

    <%
       qualificado = QuestaoSubgrupo.where('questao_id=?', questao.id).count()

      if(qualificado > 0)
       qualificado1 = "Qualificada" 
        @cor = "color:#0DC70D"
        @icone = "glyphicon glyphicon-ok-sign"
      else
        qualificado1="Não&nbsp;Qualificada"
        @cor = "color:#FF1111"
        @icone = "glyphicon glyphicon-remove-sign"
      end

    %>

      <tr>
        <td><%= link_to questao.id, questao_path(questao) %></td>
        <td><%= questao.descricao %><br><p id='t<%=questao.id.to_s%>' style='display: none;' ><br><b>Temas:</b><br><%=Qualificado(questao.id)%></p></td>
        <td  align=center><h3><span id=<%=questao.id.to_s%> style=<%=@cor%> class="<%=@icone%> btquestao" title= <%=qualificado1.html_safe%>  ></td> </h3>  </td>
        <td> <%=questao.email%> </td>
        <td> <%=@alterou%> </td>

       <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_questao_path(questao), :class => 'btn btn-primary btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      questao_path(questao),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-danger btn-xs' %>
                      
          <%= link_to "Respostas", "/respostas?questao_id="+questao.id.to_s, :class => 'btn btn-primary btn-xs' %>
          <% if @TipoUsuario == "Administrador" || @TipoUsuario == "Professor"  %>  
           <%= link_to "Qualificar",  "/qualificacoes?questao_id="+questao.id.to_s, :class => 'btn btn-default btn-xs' %>

         <% end %>


        </td>
      </tr>
   <% end %>

  </tbody>
</table>


<%= will_paginate @ret, renderer: BootstrapPagination::Rails %>
<h6> Desenvolvido por TI - Faceres </h6>
<span class="label label-success">Versão: 5.0 </span>
<br>
<br>


