<%= form_for(@respostaaluno) do |f| %>
  <% if @respostaaluno.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@respostaaluno.errors.count, "error") %> prohibited this respostaaluno from being saved:</h2>

      <ul>
      <% @respostaaluno.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :provaaluno_id %><br>
    <%= f.text_field :provaaluno_id %>
  </div>
  <div class="field">
    <%= f.label :resposta_id %><br>
    <%= f.text_field :resposta_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
