<p id="notice"><%= notice %></p>

<h1>Listing Respostaalunos</h1>

<table>
  <thead>
    <tr>
      <th>Provaaluno</th>
      <th>Resposta</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @respostaalunos.each do |respostaaluno| %>
      <tr>
        <td><%= respostaaluno.provaaluno %></td>
        <td><%= respostaaluno.resposta %></td>
        <td><%= link_to 'Show', respostaaluno %></td>
        <td><%= link_to 'Edit', edit_respostaaluno_path(respostaaluno) %></td>
        <td><%= link_to 'Destroy', respostaaluno, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Respostaaluno', new_respostaaluno_path %>
