<p id="notice"><%= notice %></p>

<p>
  <strong>Provaaluno:</strong>
  <%= @respostaaluno.provaaluno %>
</p>

<p>
  <strong>Resposta:</strong>
  <%= @respostaaluno.resposta %>
</p>

<%= link_to 'Edit', edit_respostaaluno_path(@respostaaluno) %> |
<%= link_to 'Back', respostaalunos_path %>
